---
import "../../styles/style.css";
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button.astro";
// Bruger getStaticPaths til at få al dataen fra hvert element frem.
export async function getStaticPaths() {
  // Fetcher dataen
  const data = await fetch(
    "https://eposbelbueemuzonqiuu.supabase.co/rest/v1/artworks?order=id.asc",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwb3NiZWxidWVlbXV6b25xaXV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3MzY2NzEsImV4cCI6MjAzMDMxMjY3MX0.7RC3yfMry34vETtGOmQWAujgxwf9O7ONYsWoLMtoagM",
      },
    }
  ).then((response) => response.json());

  // Når dataene er hentet, bruger koden map-funktionen til at iterere over hvert kunstværk i dataene.
  // For hvert kunstværk returneres et objekt med params og props:
  return data.map((artwork) => {
    return {
      // params-objektet indeholder en slug, som bruges til at generere URL'er til de statiske sider. slug er en unik identifikator for hvert kunstværk.
      params: { slug: artwork.slug },
      // props-objektet indeholder selve dataene for kunstværket, som kan bruges i komponenten til at vise detaljer om kunstværket.
      props: { data: artwork },
    };
  });
}
// Indsætter dataen, så vi kan bruge den nede i html'en ved at skrive data. efterfulgt af den data vi gerne vil bruge fra datasættet.
const { data } = Astro.props;
console.log(data);
---

<!-- Sætter data ind på singleview siden -->
<MainLayout title="Singleview">
  <section class="grid_1-1">
    <figure>
      <img
        class="large_img"
        src=`/imgs/artworks/${data.img}`
        loading="lazy"
        alt="Artwork"
      />
      <div class="zoom_imgs">
        <img
          src=`/imgs/artworks/zoom_artworks/${data.zoom_img1}`
          loading="lazy"
          alt="Zoomed in on artwork"
        />
        <img
          src=`/imgs/artworks/zoom_artworks/${data.zoom_img2}`
          loading="lazy"
          alt="Zoomed in on artwork"
        />
      </div>
    </figure>
    <div class="artwork_info">
      <div class="title_location">
        <div class="titles">
          <h2>{data.title}</h2>
          <h2 class="title_2">{data.title2}</h2>
        </div>
        <h3>{data.location}</h3>
      </div>
      <p class=".p_small">{data.description}</p>
      <div class="material_size">
        <div class="material">
          <p>Material:</p>
          <p class=".p_small">{data.material}</p>
        </div>
        <p class=".p_small grey">{data.size}</p>
      </div>
      <div class="button">
        <Button destination="/about">Get in touch</Button>
      </div>
    </div>
  </section>
</MainLayout>

<style>
  .grid_1-1 {
    display: grid;
    grid-template-columns: 42% 57%;
    gap: 40px;
    margin-bottom: -56px;
  }
  h2 {
    line-height: 1.2;
  }
  .title_2 {
    font-size: 40px;
  }
  h3 {
    text-transform: uppercase;
  }
  .title_location {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  figure {
    margin: -60px 0 0 -60px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .large_img {
    height: 80vh; /* Angiver højden på det største billede for alle singleviews */
    object-fit: cover;
  }
  .zoom_imgs {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;
  }
  .zoom_imgs img {
    width: 50%;
    height: 200px;
    object-fit: cover;
  }
  .grey {
    color: var(--sort60Color);
  }
  .artwork_info {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .material_size {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .material {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
  .material p:first-child {
    font-weight: 600;
  }
  .button {
    margin: 20px 0 40px 0;
  }

  /* Mobil version */
  @media screen and (max-width: 900px) {
    .grid_1-1 {
      display: block;
      margin-bottom: 0;
    }
    figure {
      margin: -30px 0 0 0;
    }
    .large_img {
      height: auto;
    }
    .zoom_imgs img {
      height: auto;
    }
    .artwork_info {
      gap: 15px;
    }
    h2 {
      margin: 0 10px 7px 0;
    }
    .title_2 {
      font-size: 26px;
    }
    .title_location {
      gap: 4px;
    }
    .artwork_info {
      margin-top: 30px;
    }
  }
</style>
