---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/CardFormerExhibitions.astro";
import Filter from "../components/FilterFormerExhibitions.astro";
import Button from "../components/Button.astro";

// Fetcher data
const data = await fetch(
  "https://eposbelbueemuzonqiuu.supabase.co/rest/v1/former_exhibitions?order=id.asc",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwb3NiZWxidWVlbXV6b25xaXV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3MzY2NzEsImV4cCI6MjAzMDMxMjY3MX0.7RC3yfMry34vETtGOmQWAujgxwf9O7ONYsWoLMtoagM",
    },
  }
).then((res) => res.json());
console.log(data);
---

<MainLayout title="Former Exhitions">
  <div class="top">
    <h1>FORMER EXHIBITIONS</h1>
    <Filter />
    <h3 class="h3_header">All Exhibitions</h3>
  </div>
  <section class="former_exhibitions">
    <!-- Text left -->
    <!-- Mapper over dataen, og indsætter det i komponentet CardArtworks -->
    {
      data
        .filter((exhibition) => exhibition.id === 1)
        .map((exhibition) => <Card position="text_left" data={exhibition} />)
    }
    <!-- Text right -->
    {
      data
        .filter((exhibition) => exhibition.id === 2)
        .map((exhibition) => <Card position="text_right" data={exhibition} />)
    }
    <!-- Text left -->
    {
      data
        .filter((exhibition) => exhibition.id === 3)
        .map((exhibition) => <Card position="text_left" data={exhibition} />)
    }
    <!-- Text right -->
    {
      data
        .filter((exhibition) => exhibition.id === 4)
        .map((exhibition) => <Card position="text_right" data={exhibition} />)
    }
    <!-- Text left -->
    {
      data
        .filter((exhibition) => exhibition.id === 5)
        .map((exhibition) => <Card position="text_left" data={exhibition} />)
    }
  </section>
</MainLayout>

<style>
  .h3_header {
    margin: 54px 0 -30px 0;
  }

  /* Mobil version */
  @media screen and (max-width: 800px) {
    .h3_header {
      margin: 0px 0 10px 0;
    }
  }
</style>
