---
import "../styles/style.css";
// Indsætter data, og definerer props "position", som afgør om teksten skal stå til venstre eller højre i komponentet.
const { data, position } = Astro.props;
console.log(data);
---

<!-- hr = linje i toppen af hver sektion -->
<hr />
<section class="container">
  <!-- Tekst, hvor der bliver sat data ind med data. efterfulgt af den data vi gerne vil bruge fra datasættet. -->
  <div class={position} id="text">
    <div class="place_location">
      <h3>{data.title}</h3>
      <h4>{data.location}</h4>
    </div>
    <p>{data.description}</p>

    <!-- Knap, hvor button linksene fra datasættet er sat ind (buttonLink) -->
    <!-- Knappen bliver stylet herinde, i stedet for at bruge Button komponentet, da vi skal have linket på knappen til at åbne på en ny fane med target="_blank" -->
    <div class="button">
      <a href={data.buttonLink} target="_blank">Read more</a>
    </div>
  </div>

  <!-- Billede -->
  <div class="img_container">
    <img src=`/imgs/formerexhibitions/${data.img}` alt="" />
  </div>
</section>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
  }

  /* Linjen i toppen af hver sektion */
  hr {
    margin: 50px -60px;
  }

  /* Gør alle overskrifter med store bogstaver */
  h3 {
    text-transform: uppercase;
  }

  /* Laver flex box til teksen */
  /* Klasserne "text_left" og "text_right" fortæller om teksen skal være til venstre eller højre */
  /* Klasserne bliver så defineret med props position inde på former exhibitions siden */
  .text_left {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .text_right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    order: 2;
  }
  #text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
  }
  .place_location {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .button a {
    padding: 18px 50px;
    border: 1px solid var(--sort100Color);
    background-color: var(--hvidColor);
    cursor: pointer;
  }
  .button a:hover {
    box-shadow: 5px 5px 4px #ac2a224d;
    color: var(--rød100Color);
  }
  .button {
    margin-top: 30px;
  }

  /* Alle billederne får samme størrelse */
  .img_container img {
    object-fit: cover;
    height: 50vh;
    width: 70vw;
  }

  /* Mobil */
  @media screen and (max-width: 800px) {
    /* Ændrer al indhold til block i stedet for grid */
    .container {
      display: block;
    }
    hr {
      margin: 20px -28px;
    }
    #text {
      margin-bottom: 40px;
    }
    .img_container img {
      height: 30vh;
      width: 90vw;
    }
    .button a {
      padding: 15px 40px;
      font-size: 14px;
    }
  }
</style>
