---
import "../styles/style.css";
import Button from "../components/Button.astro";
const { place, location, information, imgPath, buttonlink, position } =
  Astro.props;
---

<hr />
<article class="container">
  <!-- Tekst -->
  <div class={position} id="text">
    <div class="place_location">
      <h3>{place}</h3>
      <h4>{location}</h4>
    </div>
    <p>{information}</p>

    <!-- Knap, hvor prop buttonlink er sat ind, så man kan udfylde linket til knappen inde i former_exhibitions -->
    <div class="button">
      <a href={buttonlink} target="_blank">Read more</a>
    </div>
  </div>

  <!-- Billede -->
  <div class="img_container">
    <img src={imgPath} alt="Viewing Room New York" />
  </div>
</article>

<style>
  /* Desktop */
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
  }

  hr {
    margin: 60px -60px;
  }

  /* Laver flex box til teksen og fortæller om teksen skal være til venstre eller højre  */
  .text_left {
    display: flex;
    flex-direction: column;
    margin: 4%;
    gap: 10px;
  }
  .text_right {
    display: flex;
    flex-direction: column;
    margin: 4%;
    gap: 10px;
    order: 2;
  }
  .place_location {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .button a {
    padding: 18px 50px;
    border: 1px solid var(--sort100Color);
    background-color: var(--hvidColor);
    cursor: pointer;
  }
  .button a:hover {
    box-shadow: 5px 5px 4px #ac2a224d;
    color: var(--rød100Color);
  }
  .button {
    margin-top: 30px;
  }

  /* Laver vores border */
  .border {
    border-top: solid 1px black;
    margin-left: -55px;
    margin-right: -55px;
    margin-top: 2%;
  }

  /* Mobile */
  @media screen and (max-width: 700px) {
    .container {
      display: block;
    }
    hr {
      margin: 30px -28px;
    }
    /* Flex til teksen og der er også givet rækkefølge så teksten bliver vist først */
    /* Teksten har fået rækkeføgen 2 */
    #text {
      order: 2;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 40px;
    }

    /* billedet har fået rækkerfølgen 1.  */
    .img_container img {
      order: 1;
    }
    .button a {
      padding: 15px 40px;
      font-size: 14px;
  }
</style>
