---
import "../styles/style.css";
const { destination, img, measurements, title, location } = Astro.props;
---

<article>
  <div class="grid_1-1-1">
    <a class="card" href={destination}>
      <img src={img} alt="" />
      <p>{measurements}</p>
      <h4 class="h_bold">{title}</h4>
      <h5>{location}</h5>
    </a>
    <a class="card" href={destination}>
      <img src={img} alt="" />
      <p>{measurements}</p>
      <h4 class="h_bold">{title}</h4>
      <h5>{location}</h5>
    </a>
    <a class="card" href={destination}>
      <img src={img} alt="" />
      <p>{measurements}</p>
      <h4 class="h_bold">{title}</h4>
      <h5>{location}</h5>
    </a>
  </div>
</article>

<style>
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    justify-content: center;
    gap: 50px;
  }
  p {
    color: var(--sort60Color);
  }
  a {
    text-transform: none;
  }
</style>
