---
import "../styles/style.css";
// Indsætter dataen, så vi kan bruge den nede i html'en ved at skrive data. efterfulgt af den data vi gerne vil bruge fra datasættet.
const { data } = Astro.props;
console.log(data);
---

<article>
  <!-- Henter dataen slug ind på cardsene, så når man klikker på et card, så går man til en ny side (singleview), hvor urlen slutter på slug navnet. -->
  <a class="card" href={`artworks/${data.slug}`}>
    <figure>
      <img src=`/imgs/artworks/${data.img}` alt="" />
    </figure>
    <p>{data.size}</p>
    <h4 class="h_bold">{data.title}</h4>
    <h4 class="h_bold title_2">{data.title2}</h4>
    <h5>{data.location}</h5>
  </a>
</article>

<style>
  h4 {
    font-size: 23px;
  }
  .title_2 {
    font-size: 20px;
  }
  p {
    color: #797979;
  }
  a {
    text-transform: none;
  }
  figure img {
    /* Så billederne på hvert card har samme størrelse. Object-fit: cover; gør, at billederne ikke bliver strukket ud af proportioner */
    object-fit: cover;
    height: 398px;
    width: 420px;
  }
  figure:hover {
    opacity: 0.8;
  }

  /* Mobil version */
  @media screen and (max-width: 800px) {
    article {
      margin-bottom: 40px;
    }
  }
</style>
