---
import "../styles/style.css";
import Button from "../components/Button.astro";
const { place, location, information, imgPath, buttonlink, position } =
  Astro.props;
---

<article class="container">
  <!-- Class "border" giver stregen rundt om kassen -->
  <section class="border">
    <!-- Class "flex_row laver rækken, med tekst i en side og billede i den anden." -->
    <div class="flex_row">
      <!-- Tekst -->
      <div class={position} id="text">
        <h3>{place}</h3>
        <h4>{location}</h4>
        <p>{information}</p>

        <!-- Knap lavet med vores component, også der sat en destination som er linket (bruges på vores side) -->
        <div>
          <Button destination={buttonlink}> Read More</Button>
        </div>
      </div>

      <!-- Billede -->
      <div class="img_container">
        <img src={imgPath} alt="Viewing Room New York" />
      </div>
    </div>
  </section>
</article>

<style>
  /* Desktop */
  @media screen and (min-width: 600px) {
    /* Laver flex box til teksen og fortæller om teksen skal være til venstre eller højre  */
    .text_left {
      display: flex;
      flex-direction: column;
      margin: 4%;
      gap: 25px;
    }
    .text_right {
      display: flex;
      flex-direction: column;
      margin: 4%;
      gap: 25px;
      order: 2;
    }
    /* laver flex row, laver rækken, som vores (tekst og  billede er på) */
    .flex_row {
      margin-top: -3%;
      margin-bottom: -2%;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    /* Giver billedet de rigtige dimensioner */
    /* Laver container til billedet, så det kan få de rigtige mål. */
    .img_container {
      height: 295px;
      margin-right: 0px;
      width: 600px;
      overflow: hidden;
      position: relative;
      margin-bottom: 10%;
      margin-top: 10%;
    }
    .img_container img {
      width: 100%;
    }

    /* Laver vores border */
    .border {
      border-top: solid 1px black;
      margin-left: -55px;
      margin-right: -55px;
      margin-top: 2%;
    }
  }

  /* Mobile */
  @media screen and (max-width: 700px) {
    /* Flex row, men denne gang bruges det til at ændre række følgen  */
    .flex_row {
      display: grid;
    }

    /* Flex til teksen og der er også givet rækkefølge så teksten bliver vist først */
    /* Teksten har fået rækkeføgen 2 */
    #text {
      order: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 18%;
      margin-right: 5%;
    }

    /* billedet har fået rækkerfølgen 1.  */
    .img_container img {
      order: 1;
      margin-top: 10%;
    }

    /* Giver de rigtige dimensioner til vores billede, og fjerner det overskydene */
    .img_container {
      height: 255px;
      margin-left: -55px;
      width: 400px;
      overflow: hidden;
      margin-bottom: 2%;
      margin-top: 2%;
    }
  }
</style>
