---
import "../styles/style.css";
import CardArtworks from "../components/CardArtworks.astro";
const data = await fetch(
  "https://eposbelbueemuzonqiuu.supabase.co/rest/v1/artworks?order=id.asc",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwb3NiZWxidWVlbXV6b25xaXV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3MzY2NzEsImV4cCI6MjAzMDMxMjY3MX0.7RC3yfMry34vETtGOmQWAujgxwf9O7ONYsWoLMtoagM",
    },
  }
).then((res) => res.json());
console.log(data);
---

<!-- Filter -->
<article class="filter">
  <div class="box">
    <h4>Filter</h4>
    <div class="arrow down"></div>
  </div>
  <div class="filter_options">
    <a id="all_btn" href="#">All Artworks</a>
    <a id="ebay_btn" href="#">Ebay Office Chairs</a>
    <a id="office_chairs_btn" href="#">Office Chairs Arranged by Value</a>
    <a id="two_seater_btn" href="#">Two Seater Copenhagen</a>
    <a id="airbnb_btn" href="#">Airbnb Frottage</a>
    <a id="reviews_btn" href="#">Reviews</a>
  </div>
</article>

<!-- Data på de forskellige titler -->

<section class="data ebay">
  <h3>Ebay Office Chairs</h3>
  <div class="data_grid">
    {
      data
        .filter((artwork) => artwork.title === "Ebay Office Chairs")
        .map((artwork) => {
          return <CardArtworks data={artwork} />;
        })
    }
  </div>
</section>
<section class="data office_chairs">
  <h3>Office Chairs Arranged by Value</h3>
  <div class="data_grid">
    {
      data
        .filter(
          (artwork) => artwork.title === "Office Chairs Arranged by Value"
        )
        .map((artwork) => {
          return <CardArtworks data={artwork} />;
        })
    }
  </div>
</section>
<section class="data two_seater">
  <h3>Two Seater Copenhagen</h3>
  <div class="data_grid">
    {
      data
        .filter((artwork) => artwork.title === "Two Seater Copenhagen")
        .map((artwork) => {
          return <CardArtworks data={artwork} />;
        })
    }
  </div>
</section>
<section class="data airbnb">
  <h3>Airbnb Frottage</h3>
  <div class="data_grid">
    {
      data
        .filter((artwork) => artwork.title === "Airbnb Frottage")
        .map((artwork) => {
          return <CardArtworks data={artwork} />;
        })
    }
  </div>
</section>
<section class="data reviews">
  <h3>Reviews</h3>
  <div class="data_grid">
    {
      data
        .filter((artwork) => artwork.title === "Reviews")
        .map((artwork) => {
          return <CardArtworks data={artwork} />;
        })
    }
  </div>
</section>

<style>
  .filter {
    width: 100%;
    height: 60px;
    border: 1px solid var(--sort100Color);
    margin: 24px 0 54px 0;
    z-index: 0;
  }
  .box {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 0;
    cursor: pointer;
  }
  h4 {
    position: absolute;
    top: 10px;
    left: 20px;
  }
  .arrow {
    border: solid var(--sort100Color);
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 7px;
    position: absolute;
    right: 20px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 18px;
  }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 26px;
  }
  h3 {
    margin: 0px 0 20px 0;
  }
  .data {
    display: none;
  }
  .data_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 420px));
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
  }
  .show_data {
    display: block !important;
  }
  .active {
    visibility: visible !important;
  }
  .filter_options {
    display: flex;
    visibility: hidden;
    background-color: var(--hvidColor);
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 30px 20px;
    margin-top: 57px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 999;
    border: 1px solid var(--sort100Color);
    border-top: 0;
  }
  a {
    text-transform: none;
  }
  .red_color {
    color: var(--rød100Color);
  }

  /* Mobil version */
  @media screen and (max-width: 800px) {
    .filter {
      height: 50px;
    }
    .filter_options {
      margin-top: 47px;
    }
    .box {
      height: 50px;
    }
    .filter_options {
      padding: 3px 0 20px 21px;
    }
    .filter_options a {
      font-size: 14px;
    }
    .down {
      top: 13px;
    }
    .up {
      top: 20px;
    }
    h3 {
      margin: 0px 0 10px 0;
    }
  }
</style>

<script>
  // Definerer variabler
  const box = document.querySelector(".box");
  const filter = document.querySelector(".filter_options");
  const options = document.querySelector(".filter_options a");
  const arrow = document.querySelector(".arrow");

  // Kalder funtion på click af filter box.
  // Funktionen tilføjer klassen .active, når der klikkes på burgermenuen.
  box.addEventListener("click", () => {
    filter.classList.toggle("active");
    arrow.classList.toggle("up");
  });

  // All Artworks
  const all_btn = document.querySelector("#all_btn");
  // Ebay Office Chairs
  const ebay_btn = document.querySelector("#ebay_btn");
  const ebay = document.querySelector(".ebay");
  // Office Chairs Arranged by Value
  const office_chairs_btn = document.querySelector("#office_chairs_btn");
  const office_chairs = document.querySelector(".office_chairs");
  // Two Seater Copenhagen
  const two_seater_btn = document.querySelector("#two_seater_btn");
  const two_seater = document.querySelector(".two_seater");
  // Airbnb
  const airbnb_btn = document.querySelector("#airbnb_btn");
  const airbnb = document.querySelector(".airbnb");
  // Reviews
  const reviews_btn = document.querySelector("#reviews_btn");
  const reviews = document.querySelector(".reviews");

  // All Artworks
  all_btn.addEventListener("click", () => {
    all_btn.classList.toggle("red_color");
    filter.classList.toggle("active");
    arrow.classList.toggle("up");

    // Fjerner den røde farve og sektionerne fra de andre titler
    ebay_btn.classList.remove("red_color");
    ebay.classList.remove("show_data");
    office_chairs_btn.classList.remove("red_color");
    office_chairs.classList.remove("show_data");
    two_seater_btn.classList.remove("red_color");
    two_seater.classList.remove("show_data");
    airbnb_btn.classList.remove("red_color");
    airbnb.classList.remove("show_data");
    reviews_btn.classList.remove("red_color");
    reviews.classList.remove("show_data");
  });

  // Ebay Office Chairs
  ebay_btn.addEventListener("click", () => {
    ebay.classList.toggle("show_data");
    ebay_btn.classList.toggle("red_color");
    filter.classList.toggle("active");
    arrow.classList.toggle("up");

    // Fjerner den røde farve og sektionerne fra de andre titler
    all_btn.classList.remove("red_color");
    office_chairs_btn.classList.remove("red_color");
    office_chairs.classList.remove("show_data");
    two_seater_btn.classList.remove("red_color");
    two_seater.classList.remove("show_data");
    airbnb_btn.classList.remove("red_color");
    airbnb.classList.remove("show_data");
    reviews_btn.classList.remove("red_color");
    reviews.classList.remove("show_data");
  });

  // Office Chairs Arranged by Value
  office_chairs_btn.addEventListener("click", () => {
    office_chairs.classList.toggle("show_data");
    office_chairs_btn.classList.toggle("red_color");
    filter.classList.toggle("active");
    arrow.classList.toggle("up");

    // Fjerner den røde farve og sektionerne fra de andre titler
    all_btn.classList.remove("red_color");
    ebay_btn.classList.remove("red_color");
    ebay.classList.remove("show_data");
    two_seater_btn.classList.remove("red_color");
    two_seater.classList.remove("show_data");
    airbnb_btn.classList.remove("red_color");
    airbnb.classList.remove("show_data");
    reviews_btn.classList.remove("red_color");
    reviews.classList.remove("show_data");
  });

  // Two Seater Copenhagen
  two_seater_btn.addEventListener("click", () => {
    two_seater.classList.toggle("show_data");
    two_seater_btn.classList.toggle("red_color");
    filter.classList.toggle("active");
    arrow.classList.toggle("up");

    // Fjerner den røde farve og sektionerne fra de andre titler
    all_btn.classList.remove("red_color");
    ebay_btn.classList.remove("red_color");
    ebay.classList.remove("show_data");
    office_chairs_btn.classList.remove("red_color");
    office_chairs.classList.remove("show_data");
    airbnb_btn.classList.remove("red_color");
    airbnb.classList.remove("show_data");
    reviews_btn.classList.remove("red_color");
    reviews.classList.remove("show_data");
  });

  // Airbnb
  airbnb_btn.addEventListener("click", () => {
    airbnb.classList.toggle("show_data");
    airbnb_btn.classList.toggle("red_color");
    filter.classList.toggle("active");
    arrow.classList.toggle("up");

    // Fjerner den røde farve og sektionerne fra de andre titler
    all_btn.classList.remove("red_color");
    ebay_btn.classList.remove("red_color");
    ebay.classList.remove("show_data");
    office_chairs_btn.classList.remove("red_color");
    office_chairs.classList.remove("show_data");
    two_seater_btn.classList.remove("red_color");
    two_seater.classList.remove("show_data");
    reviews_btn.classList.remove("red_color");
    reviews.classList.remove("show_data");
  });

  // Reviews
  reviews_btn.addEventListener("click", () => {
    reviews.classList.toggle("show_data");
    reviews_btn.classList.toggle("red_color");
    filter.classList.toggle("active");
    arrow.classList.toggle("up");

    // Fjerner den røde farve og sektionerne fra de andre titler
    all_btn.classList.remove("red_color");
    ebay_btn.classList.remove("red_color");
    ebay.classList.remove("show_data");
    office_chairs_btn.classList.remove("red_color");
    office_chairs.classList.remove("show_data");
    two_seater_btn.classList.remove("red_color");
    two_seater.classList.remove("show_data");
    airbnb_btn.classList.remove("red_color");
    airbnb.classList.remove("show_data");
  });
</script>
